<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title translate>menu.about</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label translate>about.version</ion-label>
            <ion-badge color="medium" slot="end">{{ this.appVersion }}</ion-badge>
        </ion-item>

        <ion-item>
            <ion-label translate>about.maintainer</ion-label>
            <ion-badge slot="end">{{ this.maintainer }}</ion-badge>
        </ion-item>

        <ion-item>
            <ion-label translate>about.contact</ion-label>
            <a href="mailto:{{ this.email }}}">
                <ion-badge color="success" slot="end" translate>about.mail</ion-badge>
            </a>
        </ion-item>

        <ion-item>
            <ion-label translate>about.repository</ion-label>
            <a [href]="this.repository">
                <ion-badge color="warning" slot="end">GitLab</ion-badge>
            </a>
        </ion-item>
    </ion-list>
</ion-content>
