<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header translate>meta.title</ion-list-header>
                    <ion-note translate>meta.subtitle</ion-note>

                    <ion-menu-toggle *ngFor="let p of this.topPages; let i = index" auto-hide="false">
                        <ion-item
                            [routerLink]="[p.url]"
                            detail="false"
                            lines="none"
                            routerDirection="root"
                            routerLinkActive="selected">
                            <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start"></ion-icon>
                            <ion-label [translate]="p.titleKey"></ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <ion-list>
                    <ion-menu-toggle *ngFor="let p of this.bottomPages; let i = index" auto-hide="false">
                        <ion-item
                            [routerLink]="[p.url]"
                            detail="false"
                            lines="none"
                            routerDirection="root"
                            routerLinkActive="selected">
                            <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start"></ion-icon>
                            <ion-label [translate]="p.titleKey"></ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
