<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>play.pic2point.name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.set">
  {{ this.set.created | date }}
</ion-content>
