<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title translate>menu.play</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title translate>play.pic2point.name</ion-card-title>
            <ion-card-subtitle><em translate>play.pic2point.rules</em></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <section>
                <ion-button expand="block" (click)="this.playPic2Point()" translate>
                    <ion-icon slot="start" name="game-controller-outline"></ion-icon>
                    menu.play
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title translate>play.point2pic.name</ion-card-title>
            <ion-card-subtitle><em translate>play.point2pic.rules</em></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <section>
                <ion-button expand="block" (click)="this.playPoint2Pic()" translate>
                    <ion-icon slot="start" name="game-controller-outline"></ion-icon>
                    menu.play
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>
</ion-content>
