<ion-header translucent *ngIf="this.place">
    <ion-toolbar>
        <ion-title>{{ this.place.name }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="this.close()" translate>dialog.close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar *ngIf="!this.place" type="indeterminate"></ion-progress-bar>

    <ion-card *ngIf="this.place">
        <ion-slides [options]="this.slideOptions">
            <ion-slide *ngFor="let pic of this.pictures">
                <ion-spinner *ngIf="this.isLoading" name="dots"></ion-spinner>
                <ion-img
                    [src]="pic.url"
                    (ionImgDidLoad)="this.onImageDidLoad($event)"
                    (ionImgWillLoad)="this.onImageWillLoad($event)">
                </ion-img>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-title>{{ this.place.name }}</ion-card-title>
            <ion-card-subtitle *ngIf="this.place.hint !== null"><em>{{ this.place.hint }}</em></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-card-subtitle translate [translateParams]="{ creator: this.place.creator }">
                        places.createdBy
                    </ion-card-subtitle>
                </ion-item>
                <ion-item>
                    <ion-label>Likes</ion-label>
                    <ion-button *ngIf="!this.hasLikedOrNot" color="success" shape="round" (click)="this.like()">
                        <ion-icon color="light" ios="thumbs-up-outline" md="thumbs-up-sharp"></ion-icon>
                    </ion-button>
                    <ion-badge color="success">{{ this.place.likes }}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Dislikes</ion-label>
                    <ion-button *ngIf="!this.hasLikedOrNot" color="danger" shape="round" (click)="this.dislike()">
                        <ion-icon color="light" ios="thumbs-down-outline" md="thumbs-down-sharp"></ion-icon>
                    </ion-button>
                    <ion-badge color="danger">{{ this.place.dislikes }}</ion-badge>
                </ion-item>
            </ion-list>

            <ion-list *ngIf="this.scores.pic2point.length > 0">
                <ion-item>
                    <ion-card-subtitle translate [translateParams]="{ game: 'pic2point' }">places.lastScores</ion-card-subtitle>
                </ion-item>
                <ion-item *ngFor="let score of this.scores.pic2point">
                    <ion-label>{{ score.submitted | date: 'short' }}</ion-label>
                    <ion-label>Distance: {{ score.distance }}km</ion-label>
                </ion-item>
            </ion-list>

            <ion-list *ngIf="this.scores.point2pic.length > 0">
                <ion-item>
                    <ion-card-subtitle translate [translateParams]="{ game: 'point2pic' }">places.lastScores</ion-card-subtitle>
                </ion-item>
                <ion-item *ngFor="let score of this.scores.point2pic">
                    <ion-label>{{ score.submitted | date: 'short' }}</ion-label>
                    <ion-label>Success: {{ score.success ? 'yes' : 'no' }}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
