<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title translate>menu.places</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <div id="map" class="match-parent"></div>
</ion-content>
